<div>
  <h2 id="page-heading" data-cy="PractitionerHeading">
    <span jhiTranslate="pocketOtApp.practitioner.home.title">Practitioners</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="pocketOtApp.practitioner.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-practitioner"
        [routerLink]="['/practitioner/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pocketOtApp.practitioner.home.createLabel">Create a new Practitioner</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (practitioners().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="pocketOtApp.practitioner.home.notFound">No Practitioners found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="uuid">
              <div class="d-flex">
                <span jhiTranslate="pocketOtApp.practitioner.uuid">Uuid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idDocument">
              <div class="d-flex">
                <span jhiTranslate="pocketOtApp.practitioner.idDocument">Id Document</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idNumber">
              <div class="d-flex">
                <span jhiTranslate="pocketOtApp.practitioner.idNumber">Id Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateOfBirth">
              <div class="d-flex">
                <span jhiTranslate="pocketOtApp.practitioner.dateOfBirth">Date Of Birth</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="firstName">
              <div class="d-flex">
                <span jhiTranslate="pocketOtApp.practitioner.firstName">First Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastName">
              <div class="d-flex">
                <span jhiTranslate="pocketOtApp.practitioner.lastName">Last Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="registrationNumber">
              <div class="d-flex">
                <span jhiTranslate="pocketOtApp.practitioner.registrationNumber">Registration Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="verified">
              <div class="d-flex">
                <span jhiTranslate="pocketOtApp.practitioner.verified">Verified</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="practitionerType">
              <div class="d-flex">
                <span jhiTranslate="pocketOtApp.practitioner.practitionerType">Practitioner Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="organization.id">
              <div class="d-flex">
                <span jhiTranslate="pocketOtApp.practitioner.organization">Organization</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (practitioner of practitioners(); track trackId(practitioner)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/practitioner', practitioner.id, 'view']">{{ practitioner.id }}</a>
              </td>
              <td>{{ practitioner.uuid }}</td>
              <td [jhiTranslate]="'pocketOtApp.IdDocument.' + (practitioner.idDocument ?? 'null')">
                {{ { null: '', SOUTH_AFRICAN_ID: 'SOUTH_AFRICAN_ID', PASSPORT: 'PASSPORT' }[practitioner.idDocument ?? 'null'] }}
              </td>
              <td>{{ practitioner.idNumber }}</td>
              <td>{{ practitioner.dateOfBirth | formatMediumDate }}</td>
              <td>{{ practitioner.firstName }}</td>
              <td>{{ practitioner.lastName }}</td>
              <td>{{ practitioner.registrationNumber }}</td>
              <td>{{ practitioner.verified }}</td>
              <td [jhiTranslate]="'pocketOtApp.PractitionerType.' + (practitioner.practitionerType ?? 'null')">
                {{
                  { null: '', OCCUPATIONAL_THERAPIST: 'OCCUPATIONAL_THERAPIST', PHYSIOTHERAPRIST: 'PHYSIOTHERAPRIST' }[
                    practitioner.practitionerType ?? 'null'
                  ]
                }}
              </td>
              <td>
                @if (practitioner.organization) {
                  <div>
                    <a [routerLink]="['/organization', practitioner.organization.id, 'view']">{{ practitioner.organization.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/practitioner', practitioner.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/practitioner', practitioner.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(practitioner)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
